beautifulsoup4==4.12.2
lxml==4.9.3
requests==2.31.0
selenium==4.15.2
psycopg2-binary==2.9.9
fastapi==0.115.2
uvicorn==0.30.6
python-jose==3.3.0
passlib[bcrypt]==1.7.4
fastapi-mail==1.4.1
Pillow==10.4.0
pillow-avif-plugin==1.5.2
